*{
  padding: 0;
  margin: 0;
}
.main{
  height: 667px;
  overflow: hidden;
}
.name{
  text-align: center;
  position: relative;
  top: -568px;
  font-size: 35px;
  font-family: fot-tsukubrdgothic-std, sans-serif;
  font-weight: 700;
  font-style: normal;
}
.googlemap{
  overflow: hidden;
}
/* .footer{
  position: fixed;
  top: 630px;
  left: 160px;
} */